# Caminho relativo a partir da pasta /backend para o arquivo JSON de credenciais da conta de serviço
FIREBASE_CREDENTIALS=config/firebase-credentials.json
# URL do banco de dados (Necessário caso utilize Realtime Database)
FIREBASE_DATABASE_URL=https://seu-projeto-default-rtdb.firebaseio.com
